################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShapesApp/.vs/ShapesApp/v15
/ShapesApp/Shapes/obj/Debug
/ShapesApp/ShapesApp/obj/Debug
/ShapesApp/packages/MSTest.TestFramework.1.3.2
/ShapesApp/packages/MSTest.TestAdapter.1.3.2
/ShapesApp/Shapes/bin/Debug
/ShapesApp/ShapesApp/bin/Debug
/ShapesApp/ShapesTest/bin/Debug
/ShapesApp/ShapesTest/obj/Debug
